body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.grid-wrap {
	/*height: 470px;
	width: 630px;*/
}

.grid {
	border-right:  1px solid black; 
	border-bottom:  1px solid black; 
	height: 550px;
	width: 770px;
}

.Cell {
	width: 11px;
	height: 11px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	box-sizing: border-box;
	float: left;
}

.trans-live, .trans-dead {
	/*#cc0a27*/
	background-color: #b77780;
}

.alive {
	background-color: #cc0a27;
}
